@import http://fonts.googleapis.com/css?family=Lato|Share+Tech+Mono|Bangers;

body {
    background-color:#A4E3FF
}

p {
    font-family:"Lato",Helvetica,Arial,sans;
    font-size:14px
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Bangers","Lato",Helvetica,Arial,sans;
    letter-spacing:2px;
    color:#ff0;
    text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000,5px 5px 2px #888
}

h1 {
    font-size:50px
}

.pitch {
    font-family:"Lato",Helvetica,Arial,sans;
    font-size:20px;
    text-align:center;
    padding:0 20px
}

.aptget {
    color:blue
}

.canonicalpartners,.dpkg,.wget,.ubuntu,.google,.nonfree,.steam {
    text-decoration:line-through
}

.terminal {
    color:lime;
    background-color:#000;
    font-family:"Share Tech Mono",monospace;
    max-width:500px
}

.distrochoice {
    height:128px;
    width:128px;
    margin:4px;
    float:left
}

.main-container {
    max-width:90%;
    width:800px;
    margin:auto
}